# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ACTUAL Final Project_Lillian and Thomas_Land of Zorp.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
